.top-image {
  height: 700px;
  background-size: cover;
  background: url("../../images/retro-1483781_1920.jpg");
  /*background: url("../../images/images-381937_1280.jpg");*/
  padding-left: 5px;
}

.top-image-header {
  display: inline-block;
  font-weight: bold;
  font-size: 50px;
  color: red;
}

main {
  font-size: 25px;
  color: blue;
}

.home-page .row {
  margin-top: 50px;
}

.col-6 img {
  width: 100%;
}

.buttons-bar {
    margin-top: 40px;
}

.buttons-bar .btn {
  width: 200px;
  height: 60px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  outline: none;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .top-image {
    height: 700px;
  }

  .top-image-header {
    font-size: 80px;
    margin-left: 20%;
    top: 20px;
  }
}
