.top-image {
  height: 800px;
  background-size: cover;
  background: url("../../images/retro-1483781_1920.jpg");
  /*background: url("../../images/images-381937_1280.jpg");*/
  padding-left: 5px;
}

.top-image-header {
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
  color: white;
}

.top-image-banner {
  font-size: 20px;
  color: white;
}

main {
  font-size: 25px;
  color: blue;
}

.home-page h3 {
    margin-top: 100px;
  }
  
.home-page .row {
  margin-top: 50px;
}

.col-6 img {
  width: 100%;
}

.buttons-bar {
  margin-top: 10px;
  text-align: center;
}

.buttons-bar .btn {
  width: 200px;
  height: 60px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  outline: none;
  text-align: center;
}

.scroll-down-msg {
  color: white;
}

.scroll-down-msg p {
    font-size: 30px;
    margin-bottom: -35px;
}

.scroll-down-arrow {
  font-size: 100px;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .top-image {
    height: 800px;
  }

  .top-image-header {
    font-size: 50px;
    margin-top: 100px;
  }

  .top-image-banner {
    font-size: 30px;
  }
}
