html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-bottom: 0;
}

main {
  padding-bottom: 100px;
}

h1,
h2,
legend {
  color: blue;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

header {
  text-align: center;
}

ul {
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  list-style-type: none;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

input,
select,
textarea {
  font-size: 16px;
}

textarea {
  font-family: "Rubik", sans-serif;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /*align-items: flex-start;*/
}

.flex-raw-item {
  width: 200px;
  height: 300px;
}

.centered-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.centered-text {
  text-align: center;
}

.btn {
  display: inline-block;
  min-width: 180px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #012c7a;
  background-image: -webkit-linear-gradient(top, #012c7a, #4a81e6);
  background-image: -moz-linear-gradient(top, #012c7a, #4a81e6);
  background-image: -ms-linear-gradient(top, #012c7a, #4a81e6);
  background-image: -o-linear-gradient(top, #012c7a, #4a81e6);
  background-image: linear-gradient(to bottom, #012c7a, #4a81e6);
  border: none;
  /*border-radius: 4px;*/
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  margin: 10px;
}

.btn:hover {
  background: #0694c7;
  background-image: -webkit-linear-gradient(top, #0694c7, #8fc0e0);
  background-image: -moz-linear-gradient(top, #0694c7, #8fc0e0);
  background-image: -ms-linear-gradient(top, #0694c7, #8fc0e0);
  background-image: -o-linear-gradient(top, #0694c7, #8fc0e0);
  background-image: linear-gradient(to bottom, #0694c7, #8fc0e0);
  text-decoration: none;
  color: #ff0000;
}

.btn:disabled {
  background: #0694c7;
  background-image: -webkit-linear-gradient(top, #0694c7, #8fc0e0);
  background-image: -moz-linear-gradient(top, #0694c7, #8fc0e0);
  background-image: -ms-linear-gradient(top, #0694c7, #8fc0e0);
  background-image: -o-linear-gradient(top, #0694c7, #8fc0e0);
  background-image: linear-gradient(to bottom, #0694c7, #8fc0e0);
  text-decoration: none;
  color: lightgray;
}

.centered-btn-wrapper {
  text-align: center;
}

.form-input {
  width: 100%;
  height: 40px;
  margin: 5px 0px 5px 0px;
  /*border-radius: 4px;*/
  border: solid 1px lightgrey;
  outline: 0;
  box-shadow: none;
  padding-left: 8px;
}

.form-input {
  margin: 10px 0px 10px 0px;
}

.form-input-textarea {
  width: 100%;
  height: 50px;
  margin: 5px 0px 5px 0px;
  /*border-radius: 4px;*/
  border: solid 1px lightgrey;
  outline: 0;
  box-shadow: none;
  padding-left: 8px;
}

form label,
form legend {
  color: blue;
  margin-left: 5px;
}

form .form-error {
  margin-top: 0px;
  padding-left: 15px;
  padding-bottom: 0px;
  /*visibility: hidden;*/
  color: red;
  font-size: 18px;
}

.registration-page,
.login-page {
  /*background: url("./images/frame-1668890_1920.png") no-repeat center fixed;
  background-position: 40px 70px;
  background-size: 90%;
  height: 1500px;*/
}

.registration-form,
.login-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 20px;
}

.registration-form label,
.login-form label {
  margin-top: 20px;
  padding-left: 5px;
  /*visibility: hidden;*/
  color: blue;
  font-size: 18px;
}

.registration-form input,
.login-form input {
  height: 30px;
  margin-bottom: 10px;
  border-radius: 0px;
  border: 0;
  outline: 0;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: solid 2px blue;
}

form .btn {
  margin-top: 5px;
}

.registration-form .btn,
.login-form .btn {
  margin: 15px 0px;
  width: 100%;
}

.search-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-wrapper input[type="text"] {
  font-size: 17px;
  border: 1px solid lightgray;
  margin: 0px;
  padding: 10px;
  width: 70%;
  height: 40px;
  /*background: #f1f1f1;*/
}

.search-wrapper button {
  width: 40px;
  height: 40px;
  margin: 0px;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 13px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.search-wrapper button:hover {
  background: #0b7dda;
}

.link-icon {
  color: blue;
}

.link-icon:active {
  color: red;
}

.ctrl-icons-wrapper {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 2px;
  border: solid 1px lightgrey;
}

.ctrl-icons-wrapper button {
  width: 40px;
  height: 40px;
  margin: 0px;
  padding: 5px;
  font-size: 23px;
  border: none;
  color: blue;
  background: none;
  cursor: pointer;
}

.spinnerModal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 1; /* Sit on top */
  overflow: auto;
  background: url("./images/ajax-indicator-circle-ball-blue.gif") no-repeat
    center fixed;
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* Create overlay - black w/ opacity */
}

.spinnerModal p {
  margin-top: 300px;
}

.message-error {
  color: red;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 45px;
  }

  .centered-container.narrow {
    max-width: 450px;
  }

  .centered-container {
    max-width: 960px;
  }

  .search-wrapper input[type="text"] {
    width: 70%;
  }

  form .btn {
    margin-top: 20px;
  }

  .form-input-textarea {
    height: 100px;
  }
}
