.album-tile-container {
  height: 300px;
  border: solid 1px lightgrey;
  padding: 10px;
  margin-top: 20px;
  background-color: white;
}

.album-name {
  font-weight: bold;
}

.thumbnail img {
  max-width: 60%;
  max-height: 60%;
}

.thumbnail img:hover {
  /*cursor: pointer;*/
}

.album-tile .ctrl-icons-wrapper {
  border-top: none;
}
