.album-tile-container {
  height: 300px;
  border: solid 1px lightgray;
  padding: 0px 10px;
  margin-top: 20px;
  background-color: white;
  color: blue;
}

.album-tile-container p {
  margin-top: 2px;
  margin-bottom: 10px;
}

.album-tile-container a {
  text-decoration: none;
}

.album-tile-link {
  color: blue;
}

.album-name {
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  margin: 10px 0px 10px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail-container {
  width: 90%;
  height: 140px;
  /*border: solid 1px black;*/
}

.thumbnail .img4 {
  width: 75px;
  height: 65px;
  margin: 0px 0px 5px 10px;
}

.thumbnail .img1 {
  /*width: 75px;
    height: 65px;*/
  width: 100%;
  max-height: 118px;
  /*margin: 0px 3px 1px 3px;*/
}

.album-date-created {
  font-size: 12px;
  margin-top: 20px;
  text-align: left;
}

.album-info {
  padding: 5px;
  font-size: 12px;
  /*background-color: rgb(243, 243, 200);*/
}

.album-comment {
  text-align: left;
}

.album-comment focus {
  outline: none;
}

.album-tile .ctrl-icons-wrapper {
  border-top: none;
}

@media screen and (min-width: 600px) {
  .thumbnail .img4 {
    width: 40px;
    height: 40px;
    margin: 0px 0px 5px 9px;
  }
}

@media screen and (min-width: 890px) {
  .thumbnail .img4 {
    width: 52px;
    height: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .thumbnail .img4 {
    width: 60px;
    height: 55px;
    margin: 0px 0px 5px 10px;
  }
}
