.album-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.album-container li {
  width: 48%;
  margin: 1%;
  text-align: center;
  line-height: 10px;
}

.selection-area a {
  margin: 0 10px 0 10px;
}

.album-container p {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media only screen and (min-width: 640px) {
  .album-container li {
    width: 22%;
  }
}
