.album-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
  }

  .selection-area a {
      margin: 0 10px 0 10px;
  }
  
  .album-container p {
      margin-top: 5px;
      margin-bottom: 5px;
  }