.media-file {
  width: 300px;
  padding: 15px;
  margin: 15px;
  border: solid 1px lightgrey;
  background: #eee;
}

.media-file img {
  width: 100%;
  cursor: -webkit-grab;
}

.media-file .ctrl-icons-wrapper {
  border: none;
}
