.media-file {
  width: 100%;
  padding: 0px;
  margin: 5px;
  border: solid 1px lightgrey;
  background: #eee;
}

.media-file img {
  width: 100%;
  cursor: -webkit-grab;
  cursor: pointer;
}

.media-file .ctrl-icons-wrapper {
  border: none;
}

.file-name,
.file-date,
.file-description {
  font-size: 10px;
  text-align: left;
  padding: 0px 5px 0px 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
