.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 1000; /* Sit on top */
  background-color: rgba(0, 0, 0, 0.9); /* Create overlay - black w/ opacity */
}

.modal img {
  align-self: auto;
  margin-top: 20px;
}

/* Centered child element */
.centered-content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 100px;
}

/* The modal's close button */
.modal-close {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 30px;
  height: 25px;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border: none;
  background: #2196f3;
  color: white;
  font-size: 25px;
}

.modal-close:hover {
  background-color: red;
}

/* Make Youtube IFRAME responsive */
.media-wrapper img {
  max-width: 80%;
  max-height: 200px;
}

@media screen and (min-width: 560px) {
  .media-wrapper img {
    max-width: 65%;
    max-height: 250px
  }
}

@media screen and (min-width: 960px) {
  .modal-close {
    top: 20px;
    right: 25px;
    width: 40px;
    height: 40px;
    font-size: 25px;
  }

  .media-wrapper img {
    max-width: 90%;
    max-height: 700px;
  }
}
